<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeadLine news | Flask App</title>
</head>

<body>
    <h1>HeadLines</h1>
    <h2>Current Weather</h2>
    <p>City: <b>{{ weather.city }}</b></p>
    <p>{{ weather.description }} | {{ weather.temperature }} &#8451;</p>

    <form>
        <!-- <input type="text" name="publication" placeholder="search" /> -->
        <input type="text" name="city" placeholder="weather search" />
        <input type="submit" value="Submit" />
    </form> <br />
    <h2>HeadLines</h2>
    <form>
        <input type="text" name="publication" placeholder="search" />
        <input type="submit" value="Submit" />
    </form> <br />
    {% for article in articles %}
    <b><a href="{{ article.link }}">{{ article.title }}</a></b> <br />
    <b>{{ article.published }}</b> <br />
    <p>{{ article.summary }}</p>
    <hr>
    {% endfor %}
</body>

</html>